<h1>GeoMCP Server</h1>

<p>
Hello, MCP.
</p>

<p>
Clients should POST to /mcp to use the server
</p>

<h2>Start the server</h2>

<pre>
bundle exec rails server # listens on port 3000

PORT=1234 bundle exec rails server # listens on custom port
</pre>

<h2>Connect a client</h2>

<p>
Add to Claude Code with:
</p>

<pre>
claude mcp add --scope project --transport http geomcp "http://localhost:3000/mcp"
</pre>
